
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
venv/
ENV/
env/
.venv/
.vscode/
.idea/
*.swp
*.so
*.dylib
*.dll
.reload/
frontend/qrcodes/*.png
node_modules/
dist/
*.map
.DS_Store
.env
.env.*
*.env
secret.key
*.pem
Thumbs.db
desktop.ini
*.tmp
*.bak
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
*.egg-info/
.installed.cfg
*.iml
.idea/
*.sqlite
*.sqlite3
